@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

/* header */
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-list {
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
}

/*main*/
.hero {
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.advantages-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  list-style-type: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-more-opacity {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item-wide {
  background-color: #82B3D3;
}

.advantages-item-wide .advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-item-wide .advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.facilities {
  text-align: center;
}

.facilities-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.facilities-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.facilities-list {
  list-style-type: none;
}

.facilities-item-opacity {
  background-color: rgba(131, 179, 211, 0.12);
}

.facilities-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-hotels-in-sedona {
  text-align: center;
}

.search-hotels-in-sedona-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-hotels-in-sedona-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-hotels-in-sedona-by-date-button {
  font-family: inherit;
  background-color: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}
